body {
    margin: 0;
    padding: 0;
    background-color: darkgreen;
    color: red
}


.grid {
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card, .front, .back {
    width: 100px;
    height: 144px;
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.match .front {
    background: #6589F9 !important;
}